* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100%;
  width: 100%;
  background: #7e84ed;
  color: #490458;
}

.rect {
  display: flex;
}
.rect:hover {
  opacity: 50%;
}

.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6f257f;
  padding: 14px;
  text-align: center;
}
